@import './Var.scss';


.quiz_container{
    width: 750px;
    background: $bg;
    border-radius:4px;
    margin-top: 150px;
    padding: 30px 60px;
    box-sizing:content-box;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    


    .active-question-no{
        font-size:32px;
        font-weight: 500;
        color: $primary;
    }

    .total-questions{
        font-size:16px;
        font-weight: 500;
        color: $disabled;
    }

    h2{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    u1{
        margin-top: 20px;
        margin-left: -40px;

        li{
            text-decoration: none;
            list-style: none;
            color:$foreground;
            font-size: 20px;
            background: $bg;
            padding: 11px;
            border : 5px solid $disabled;
            border-radius: 16px;
            margin-top: 15px;
            cursor: pointer;
        }

        .selected-answer{
            background: rgb(25, 141, 42);
            color: $bg;
            border: 3px solid darkgreen;
        }
    }
    .footer{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        align-items: center;
    
        button{
            background:linear-gradient(0deg, rgb(115, 10, 10) 0.03%, green);
            border-radius: 9px;
            font-size:18px;
            color:$bg;
            padding:10px 42px;
            outline:none;
            border:none;
            margin-top:15px;
            cursor: pointer;

            &:disabled{
                background:$bg-accent;
                color:$disabled;
                cursor: not-allowed;
            }
        }
    }
    .result{
        text-align: center;

        h3{
            font-size: 36px;
            letter-spacing: 1.4px;
            text-align: center;
        }

        h4{
            font-size: 50px;
            letter-spacing: 1.4px;
            text-align: center;
            border-color: black;
            border-radius: 30px;
            border-width: 5px;
            border-style: solid;
            color: $accent;

        }

        p{
            font-size:22px;
            font-weight:500;

            span{
                color:$primary;
                font-size:26px;
            }
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center; /* Optional: Align buttons horizontally */
          }
          
          button {
            background: linear-gradient(0deg, rgb(243, 5, 5) 0.03%, rgb(5, 199, 5) 100%);
            border-radius: 9px;
            font-size: 24px;
            color: $bg; /* Make sure $bg is defined elsewhere */
            padding: 10px 42px;
            outline: none;
            border: none;
            margin-top: 15px;
            cursor: pointer;
          }
        h2{
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
}